*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button {
	cursor: pointer;
}

button:active {
	transform: translateY(2px);
}

:root {
	--smartphone-border: hsla(0, 0%, 25%, 1);
	--app-background: hsla(0, 0%, 100%, 1);
	--card-background: hsla(0, 0%, 100%, 1);
	--smartphone-border-radius: 1.8rem;
	--color-primary: hsla(206, 95%, 52%, 1);
	--color-black: hsla(0, 0%, 3%, 1);
}

.background {
	display: grid;
	place-items: center;
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.smartphone {
	position: relative;
	display: grid;
	grid-template-rows: min-content 1fr;
	width: 375px;
	height: 812px;
	border: 1rem solid var(--smartphone-border);
	border-radius: 3rem;
	background-color: var(--app-background);
}

.smartphone::before {
	content: "";
	position: absolute;
	background-color: var(--smartphone-border);
	width: 12rem;
	height: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	border-bottom-right-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
	z-index: 3;
}

.smartphone::after {
	content: "";
	position: absolute;
	z-index: 3;
	height: 3rem;
	width: 100%;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		to bottom,
		hsla(0, 0%, 100%, 0),
		hsla(0, 0%, 100%, 1) 70%
	);
	border-bottom-right-radius: var(--smartphone-border-radius);
	border-bottom-left-radius: var(--smartphone-border-radius);
}

.smartphone__navbar {
	display: grid;
	grid-template-columns: 1rem 3.5rem 12rem 1fr min-content 1.4rem;
	height: 1.65rem;
	align-content: center;
	justify-items: center;
	border-top-right-radius: var(--smartphone-border-radius);
	border-top-left-radius: var(--smartphone-border-radius);
}

.navbar__time {
	grid-column: 2/3;
	font-size: 0.8rem;
}

.navbar__wifi {
	grid-column: 4/5;
	width: 1rem;
}

.navbar__battery {
	grid-column: 5/6;
	width: 1.5rem;
	height: 50%;
	background-color: var(--color-black);
	border-radius: 0.2rem;
	align-self: center;
}

.smartphone__app {
	overflow-y: scroll;
	border-bottom-right-radius: var(--smartphone-border-radius);
	border-bottom-left-radius: var(--smartphone-border-radius);
	display: grid;
	grid-template-columns: 1rem 1fr 1rem;
	grid-auto-rows: min-content;
	grid-row-gap: 1.5rem;
	position: relative;
}

.smartphone__app::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

/*app header*/

.app__header {
	grid-column: 2/3;
	padding: 1.5rem 0 1rem 0;
}

.header__container {
	display: flex;
}

.header__date {
	color: hsla(13, 88%, 60%, 1);
}

.header__date,
.header__headline {
	font-size: 2rem;
	line-height: 100%;
}

/*app content*/

.app__mail {
	grid-column: 1/4;
}

.mail__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	padding: 0.5rem 1rem;
}

.mail__hide-mail {
	padding: 0 0.4rem;
	border: none;
	background-color: transparent;
	border-radius: 0.5rem;
	color: var(--color-primary);
}

.mail__container {
	display: grid;
	grid-row-gap: 1.5rem;
	padding-left: 1rem;
	border-top: 2px solid hsla(0, 0%, 95%, 1);
	border-bottom: 2px solid hsla(0, 0%, 95%, 1);
}

.mail__layout {
	display: grid;
	position: relative;
	grid-template-columns: 3rem 1fr;
	grid-template-rows: min-content min-content;
	grid-row-gap: 0.25rem;
	grid-column-gap: 1rem;
	transition: all 100ms ease-in;
}

.mail__layout:nth-of-type(1) {
	transition-delay: 50ms;
	transform: translateX(0);
}

.mail__layout:nth-of-type(2) {
	transition-delay: 100ms;
	transform: translateX(0);
}

.mail__layout:nth-of-type(3) {
	transition-delay: 150ms;
	transform: translateX(0);
}

.mail__layout:first-of-type {
	padding-top: 1.5rem;
}

.mail__layout:last-of-type {
	padding-bottom: 1.5rem;
}

.mail__layout:not(:first-of-type)::before {
	content: "";
	top: -0.75rem;
	left: 4rem;
	position: absolute;
	height: 2px;
	width: calc(100% - 4rem);
	background-color: hsla(0, 0%, 95%, 1);
}

.transitioning .mail__layout {
	opacity: 0;
	transform: translateX(0.2rem);
}

.hidden .mail__layout {
	display: none;
}

.mail__image-wrapper {
	grid-column: 1/2;
	grid-row: 1/3;
	align-self: center;
	height: 50%;
	padding-top: 100%;
	position: relative;
	transform-origin: left top;
}

.mail__image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
}

.mail__subject {
	font-size: 1rem;
	color: var(--color-black);
}

.mail__content {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 1rem;
}

/* floating action button */

.mail__compose-button-container {
	position: absolute;
	right: 1rem;
	bottom: 3rem;
	background-color: white;
	display: grid;
}

.mail__compose-button {
	grid-column: 1/2;
	grid-row: 1/2;
	justify-self: end;
	align-self: end;
	height: 3.5rem;
	width: 3.5rem;
	z-index: 2;
	border: none;
	background-color: var(--color-primary);
	font-size: 1.5rem;
	color: white;
	border-radius: 50%;
	box-shadow: 0 3px 6px 3px hsla(0, 0%, 0%, 0.25);
}

.mail__compose-button:focus {
	outline: 0;
}

.mail__compose-wrapper {
	box-shadow: 0 3px 6px 3px hsla(0, 0%, 0%, 0.25);
	display: none;
	grid-column: 1/2;
	grid-row: 1/2;
	overflow: hidden;
}

.mail__compose-option {
	display: grid;
	position: relative;
	z-index: 1;
	grid-template-columns: 2.5rem 1fr;
	grid-column-gap: 1rem;
	padding: 1rem;
	cursor: pointer;
	overflow: hidden;
	transition: opacity 100ms ease-in;
}

.mail__compose-option:nth-of-type(1) {
	transition-delay: 25ms;
}

.mail__compose-option:nth-of-type(2) {
	transition-delay: 50ms;
}

.mail__compose-option:nth-of-type(3) {
	transition-delay: 75ms;
}

.mail__compose-option:nth-of-type(4) {
	transition-delay: 100ms;
}

.mail__compose-option::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: hsla(206, 95%, 52%, 0.1);
	opacity: 0;
	z-index: -1;
}

.mail__compose-option:hover::after {
	opacity: 1;
}

.mail__image-wrapper--compose {
	grid-row: 1/2;
}

.mail__content--compose {
	align-self: center;
}

.mail__compose-option:last-of-type {
	padding: 0;
}

.transitioning .mail__compose-option {
	opacity: 0;
}

.hidden .mail__compose-option {
	display: none;
}

.mail__compose-button--inner {
	grid-column: 1/3;
	height: 3.5rem;
	width: 100%;
	border-radius: unset;
	box-shadow: unset;
	font-size: unset;
}

.mail__disclaimer {
	font-size: 0.8rem;
	color: hsla(0, 0%, 55%, 1);
	text-align: center;
	padding-top: 0.5rem;
}

.disclaimer__emoji {
	padding: 0 0.5rem 0 0;
}
